@{
    ViewBag.Title = "О сайте";
}
<h2>@ViewBag.Title</h2>
<h3>Курсовой проект "Social photo editor"</h3>

<p>Данный сайт является курсовым проектом по дисциплине КСиС студентки 2-го курса группы 551004 Евтушенко Т.С.</p>
