@{
    ViewBag.Title = "Для связи";
}
<h2>@ViewBag.Title.</h2>
<h3>Контактный адрес</h3>

<address>
    Республика Беларусь, г. Минск<br />
    ул. Волшебная 4-1 <br />
    <abbr title="Phone">Velcom:</abbr>
    44 777 77 77
</address>

<address>
    <strong>По предложениям и замечаниям:</strong>   <a href="mailto:t.evtushenko.s@gmail.com">t.evtushenko.s@gmail.com</a><br />
    <strong>По вопросам сотрудничества:</strong> <a href="mailto:t.evtushenko.s@ya.by">t.evtushenko.s@ya.by</a>
</address>