@Scripts.Render("~/bundles/user-min-list")

<div ng-controller="UserMinListController" class="modal fade" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="userListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid" ng-repeat="user in users track by $index">
                    <a class="row" href="~/User/Page?userName={{user.UserName}}">
                        <div class="col-md-2">
                            <img src="{{user.AvatarFileName}}" class="small_avatar"/>
                        </div>
                        <div class="col-md-7">
                            <h5>{{user.UserName}}</h5>
                            <p class="text-muted">{{user.Name}}</p>
                        </div>
                        <div class="col-md-3">
                            <button ng-if="user.IsSubscriber" ng-click="unsubscribe(user.UserName)" type="button" class="btn btn-default">Отписаться</button>
                            <button ng-if="!user.IsSubscriber" ng-click="subscribe(user.UserName)" type="button" class="btn btn-success">Подписаться</button>
                        </div>
                    </a>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>

