@{
    ViewBag.Title = "Users";
}

@Scripts.Render("~/bundles/user-list")

<h2>Users</h2>
<div ng-controller="UserListController">
    @Html.Partial("ImageModal")
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default" ng-repeat="user in filteredUserLists track by $index">
                <div class="panel-body row">
                    <a href="~/User/Page?userName={{user.UserName}}">
                        <div class="col-md-2">
                            <img class="medium_avatar" src="{{getAvatar(user.AvatarFileName)}}" alt="Аватар"/>
                        </div>
                        <div class="col-md-8">
                            <h5><strong>{{user.UserName}}</strong></h5>
                            <div class="name">{{user.Name}} {{user.Surname}}</div>   
                            <span ng-if="user.Birthday != null" ng-click="changeFilterAge(getAge(user.Birthday))">{{getAge(user.Birthday)}} лет</span>
                            <div ng-if="user.Location != null">
                                <span ng-click="">{{user.Location.CountryName}}</span><span ng-click="">, {{user.Location.CityName}}</span>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-2" ng-if="user.UserName != currentUser.User.UserName">
                        <button ng-if="user.SubscriptionId != null" ng-click="unsubscribe($index)" type="button" class="btn btn-default">Отписаться</button>
                        <button ng-if="user.SubscriptionId == null" ng-click="subscribe($index)" type="button" class="btn btn-success">Подписаться</button>
                    </div>
                </div>
                <div ng-if="user.PopularImages.length !== 0" class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-md-3" ng-repeat="fileName in user.PopularImages track by $index">
                            <a href="#imageModal" class="thumbnail" data-toggle="modal">
                                <img src="{{fileName}}" ng-click="getImage(fileName)" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="input-group-lg">
                        <input type="text" class="form-control" placeholder="Поиск пользователей" ng-model="searchString" ng-change="filterUsers()">
                        @*<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>*@
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <label for="sort">Сортировать</label>
                        <select id="sort" class="form-control">
                            <option value="sort_data">По дате регистрации</option>
                            <option value="sort_popular">По популярности</option>
                        </select>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <label for="min_age">Возраст</label>
                        <br/>
                        <input id="min_age" type="number" min="0" max="99" placeholder="От" ng-model="minAge" ng-change="filterUsers()"/> -
                        <input id="max_age" type="number" min="0" max="99" placeholder="До" ng-model="maxAge" ng-change="filterUsers()"/>
                        <br/><br/>

                        <label for="sex">Пол</label>
                        <select id="sex" class="form-control">
                            <option value="default">Не выбран</option>
                            <option value="male">Мужской</option>
                            <option value="female">Женский</option>
                        </select>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="input-group">
                        <label for="country">Страна</label>
                        <select ng-change="selectCountry(null)" id="country" class="form-control">
                            <option value="default">Не выбрана</option>
                            <option ng-repeat="country in countries track by $index">{{country.Name}}</option>
                        </select>
                        <br/><br/><br/><br/>

                        <label for="citiesSelect">Город</label>
                        <select id="citiesSelect" name="citiesSelect" class="form-control" disabled="disabled">
                            <option value="default">Не выбран</option>
                            <option ng-repeat="city in cities track by $index">{{city}}</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

