
@{
    ViewBag.Title = "Page";
}

@Scripts.Render("~/bundles/user-page")

<div ng-controller="UserPageController">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <img class="big_avatar" src="{{userPage.AvatarFileName}}"/>
            </div>
            <div class="col-md-9">
                <div class="col-md-10">
                    <div class="row">
                        {{userPage.UserName}}
                        <button ng-if="user.IsSubscriber" ng-click="" type="button" class="btn btn-default">Отписаться</button>
                        <button ng-if="!user.IsSubscriber" ng-click="" type="button" class="btn btn-success">Подписаться</button>
                    </div>
                    <p>{{userPage.Name}}</p>
                    <p>{{userPage.Birthday}}</p>
                    <p>{{userPage.Location}}</p>
                    <p>{{userPage.Subscribe}}</p>
                    <div class="row">
                        <div class="col-md-3">{{userPage.SubscribersCount}} подписчиков</div>
                        <div class="col-md-3">{{userPage.SubscriptionsCount}} подписок</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a ng-click="getFolder(userPage.UserName)">Все фотографии</a></li>
            <li ng-repeat="folder in userPage.Folders track by $index" ng-click="getFolder(folder.Id)"><a>{{folder.Name}} ({{folder.ImagesCount}})</a></li>
        </ul>
    </div>

    <p>{{folder.Subscribe}}</p>

    <div class="row">
        <div class="col-xs-6 col-md-3" ng-repeat="image in folder.Images track by $index">
            <a href="#imageModal" class="thumbnail" data-toggle="modal">
                <img alt="..." src="{{image.FileName}}" ng-click="getImage(image)">
            </a>
        </div>
    </div>

    @Html.Partial("ImageModal")
</div>
