
@{
    ViewBag.Title = "Page";
}

@Scripts.Render("~/bundles/user-page")

<div ng-controller="UserPageController">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <a ng-if="userPage.AvatarFileName != null" href="#imageModal" class="tumbnail" data-toggle="modal">
                    <img class="big_avatar" src="{{getAvatar(userPage.AvatarFileName)}}" ng-click="getImage(userPage.AvatarFileName)" />
                </a>
                <img ng-if="userPage.AvatarFileName == null" class="big_avatar" src="{{getAvatar(userPage.AvatarFileName)}}" ng-click="getImage(userPage.AvatarFileName)" />
            </div>
            <div class="col-md-9">
                <div class="col-md-10">
                    <div class="row">
                        {{userPage.UserName}}
                        <button ng-if="userPage.SubscriptionId != null" ng-click="unsubscribe()" type="button" class="btn btn-default">Отписаться</button>
                        <button ng-if="userPage.SubscriptionId == null" ng-click="subscribe()" type="button" class="btn btn-success">Подписаться</button>
                    </div>
                    <p>{{userPage.Name}} {{userPage.Surname}}</p>
                    <p>{{userPage.Birthday}}</p>
                    <p ng-if="userPage.Location != null">{{userPage.Location.Country}}, {{userPage.Location.City}}</p>
                    <p>{{userPage.Subscribe}}</p>
                    <div class="row">
                        <a class="col-md-3" href="#userListModal" data-toggle="modal" ng-click="getSubscribers()">{{userPage.SubscribersCount}} подписчиков</a>
                        <a class="col-md-3" href="#userListModal" data-toggle="modal" ng-click="getSubscriptions()">{{userPage.SubscriptionsCount}} подписок</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active" id="{{userPage.UserName}}"><a ng-click="getFolder(userPage.UserName)">Все фотографии ({{userPage.ImagesCount}})</a></li>
            <li ng-repeat="folder in userPage.Folders track by $index" id="{{folder.Id}}" ng-click="getFolder(folder.Id)"><a>{{folder.Name}} ({{folder.ImagesCount}})</a></li>
        </ul>
    </div>

    <p>{{folder.Subscribe}}</p>

    <div class="row">
        <div class="col-xs-6 col-md-3" ng-repeat="image in folder.Images track by $index">
            <a href="#imageModal" class="thumbnail" data-toggle="modal">
                <img alt="..." src="{{image.FileName}}" ng-click="getImage(image.FileName)">
            </a>
        </div>
    </div>

    <button id="moreImagesButton" type="button" class="btn btn-default" ng-click="getMoreImages()">Показать больше изображений</button>

    @Html.Partial("ImageModal")
    @Html.Partial("UsersModal")
</div>
