
@{
    ViewBag.Title = "Страница " + User.Identity.Name;
}

@Scripts.Render("~/bundles/user-page")

<div ng-controller="UserPageController">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <a ng-if="userPage.AvatarFileName != null" href="#imageModal" class="tumbnail" data-toggle="modal">
                    <img class="avatar big_avatar" src="{{getAvatar(userPage.AvatarFileName)}}" ng-click="getImage(userPage.AvatarFileName)" />
                </a>
                <img ng-if="userPage.AvatarFileName == null" class="avatar big_avatar" src="{{getAvatar(userPage.AvatarFileName)}}" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <p>{{userPage.UserName}}</p>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button class="btn btn-default" href="#userListModal" data-toggle="modal" ng-click="getSubscribers()">
                                    <div data-toggle="tooltip" data-placement="bottom" title="Просмотреть список подписчиков">
                                        {{userPage.SubscribersCount}} подписчиков
                                    </div>
                                </button>
                                <button class="btn btn-default" href="#userListModal" data-toggle="modal" ng-click="getSubscriptions()">
                                    <div data-toggle="tooltip" data-placement="bottom" title="Просмотреть подписки пользователя">
                                        {{userPage.SubscriptionsCount}} подписок
                                    </div>
                                </button>
                                <button ng-if="userPage.UserName !== currentUser.User.UserName && userPage.SubscriptionId != null" ng-click="unsubscribe()" type="button" class="btn btn-default">
                                    Отписаться
                                </button>
                                <button ng-if="userPage.UserName !== currentUser.User.UserName && userPage.SubscriptionId == null" ng-click="subscribe()" type="button" class="btn btn-success">
                                    Подписаться
                                </button>
                                <button ng-if="userPage.UserName === currentUser.User.UserName" ng-click="redirectToSettings()" type="button" class="btn btn-default">
                                    Редактировать <span class="glyphicon glyphicon-cog"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{userPage.Name}} {{userPage.Surname}}</h2>
                        <div class="row" ng-if="userPage.Birthday != null">
                            <div class="col-md-1" ng-if="checkIfBirthday(userPage.Birthday)">
                                <img class="symbol" src="~/Content/fireworks.png" />
                            </div>
                            <div class="col-md-4">
                                <p class="pull-left">{{getStrDate(userPage.Birthday)}}</p>
                            </div>
                        </div>
                        <h4 ng-if="userPage.Location != null">{{userPage.Location.CountryName}}, {{userPage.Location.CityName}}</h4>
                        <h4>{{userPage.Subscribe}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <li class="active" id="userImages"><a ng-click="getMoreUserImages()">Все фотографии ({{userPage.ImagesCount}})</a></li>
                <li ng-repeat="folder in userPage.Folders track by $index" id="folder{{$index}}" ng-click="getFolder($index)"><a>{{folder.Name}} ({{folder.ImagesCount}})</a></li>
            </ul>
        </div>
        <div class="col-md-2" ng-if="userPage.UserName === currentUser.User.UserName">
            <a href="#folderModal" class="tumbnail" data-toggle="modal" ng-click="openAddFolder(userPage.UserName)">
                <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> Новый альбом</button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <h3>
                <strong>{{folder.Name}}</strong>
            </h3>
        </div>
        <div ng-if="folder.OwnerId == currentUser.User.UserName" class="col-md-2">
            <div class="btn-group pull-right">
                <button class="btn btn-default" ng-click="" data-toggle="tooltip" data-placement="bottom" title="Редактировать папку">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default" ng-click="tryDeleteFolder()" data-toggle="tooltip" data-placement="bottom" title="Удалить папку">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-if="folder.Subscribe != null">
            <p class="comment">{{folder.Subscribe}}</p>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-danger fade in" id="deleteFolderAlert">
            <button type="button" class="close" ng-click="hideFolderAlert()" aria-hidden="True">x</button>
            <h4>Вы уверены, что хотите удалить этот альбом?</h4>
            <p>Изображения из этого альбома будут доступны в альбоме всех изображений.</p>
            <p>
                <button type="button" class="btn btn-danger" ng-click="deleteFolder()">Удалить</button>
                <button type="button" class="btn btn-default" ng-click="hideFolderAlert()">Отменить</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" ng-if="folder.Images.length == 0" >
            <h4 class="text-muted">В данном альбоме нет фотографий</h4>
        </div>
        <div class="col-xs-6 col-md-3" ng-repeat="image in folder.Images track by $index">
            <a href="#imageModal" class="tumbnail" data-toggle="modal">
                <img alt="..." src="{{image.FileName}}" class="image_list" ng-click="getImage(image.FileName)">
            </a>
        </div>
    </div>

    <div class="row">
        <button id="moreImagesButton" type="button" class="btn btn-default" ng-click="getMoreImages()">Показать больше изображений</button>
    </div>

    @Html.Partial("ImageModal")
    @Html.Partial("UsersModal")
    @Html.Partial("NewFolderModal")
</div>
