body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 450px;
}

.comment_input {
    max-height: 50px;
}

.search {
    opacity: 1.0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.search input {
    background-color: #222;
    color: #9d9d9d;
    border: none;
}

.scroll_list {
    overflow-y: scroll;
}

.scroll_list.user_list {
    height: 560px;
}

.scroll_list.comment_list {
    height: 350px;
}

.scroll_list.comment_min_list {
    max-height: 100px;
}

.image_min_list {
    width: 130px;
    height: 130px;
}

.image_list {
    width: 282px;
    height: 282px;
    margin: 0 0 10px 0;
}

.comment {
    margin: 0 0 5px 0;
    word-wrap: break-word; 
}

.image {
    max-height: 650px;
    max-width: 580px;
}

.name {
    font-size: 20px;
}

.avatar {
    border-radius: 50%;
}

.avatar.small_avatar {
    margin: 0 10px 0 0;
    width: 35px;
    height: 35px;
}

.avatar.medium_avatar {
    margin: 0 10px 0 0;
    width: 100px;
    height: 100px;
}

.avatar.big_avatar {
    width: 200px;
    height: 200px;
}
